<?xml version='1.0' encoding='utf-8'?>
<widget id="com.seven25.globalse7en" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Global Se7en</name>
    <description>Global Se7en Movie App</description>
    <author email="guardianagene6@gmail.com">Aloy Matrix</author>
    
    <content src="https://seven25.click/index.html" />

    <access origin="*" />
    <allow-navigation href="https://seven25.click/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon src="res/icon/android/icon.png" />
        <icon background="#000000" foreground="res/icon/android/icon.png" />
    </platform>

    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="300" />
    
    <preference name="Fullscreen" value="true" />
</widget>
