<?xml version='1.0' encoding='utf-8'?>
<widget id="com.seven25.globalse7en" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Global Se7en</name>
    <description>Global Se7en Movie App</description>
    <author email="guardianagene6@gmail.com">Aloy Matrix</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#468fff" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="FadeSplashScreenDuration" value="300" />
</widget>
