name: Build Android APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Build APK
        run: |
          npm install -g cordova
          cordova platform add android
          cordova build android --debug --no-telemetry

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Global-Se7en-APK
          path: platforms/android/app/build/outputs/apk/debug/*.apk
